Css:

body {
  font-family: Verdana, Helvetica, Sans-serif;
  padding: 50px; 
}

h1 {
  color: white;
  font-size: 35px;
  font-family: Verdana, Helvetica, Sans-serif;
  outline: 3px solid black;
  outline-offset: 6px;
  background-image: linear-gradient(#c3bfe0, purple, #2f237a);
  text-align: center;
}
  

h1:hover {
  background-image: linear-gradient(#2f237a, purple ,#c3bfe0);
}


  h2 {
    color: purple;
    text-decoration-line: underline;
    font-style: italic;
    font-weight: bold;
    text-shadow: 2px 2px white;
  }
 
 h2:hover {
  color: black;
}

h3 {
  color: black;
  font-family: Verdana, Helvetica, Sans-serif;
}

ul{ 
  color: black;
  font-family: Verdana, Helvetica, Sans-serif;
}


div{
  background-color: #c3bfe0;
  outline: 3px solid black;
  outline-offset: 2px; 
  font-family: Verdana, Helvetica, Sans-serif;
}


img {
 background-color: white;
 outline: 3px solid black;
  outline-offset: 2px;
  max-width: 200px;
}

footer {
  color:purple;
  text-size: 9px;
}

script {color: white;
  font-size: 35px;
  font-family: Verdana, Helvetica, Sans-serif;
  outline: 3px solid black;
  outline-offset: 6px;
  background-image: linear-gradient(#c3bfe0, purple, #2f237a);
  text-align: center;
}

script:hover {
  background-image: linear-gradient(#2f237a, purple ,#c3bfe0);
}














